.product__detail__container__ls{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
}

.product__detail__subcontainer__ls{
    display: flex;
    flex-direction: row;
}

.product__detail__text__container__ls{
    margin-left: 20px;
}

.product__detail__image__container__ls{
    display: flex;
    flex-direction: row;
    overflow:scroll;
    margin: auto;
    width: 200px;
}

.product__detail__image__ls{
    width: 200px;
    height: 200px;
}

.product__detail__heading__ls{
    font-weight: 600;
    font-size: 21px;
    margin-left: 20px;
    margin-right: 20px;
}

.add__to__cart__ls{
    background: #FFD600;
    padding: 5px;
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    display: block;
}

.buy__now__ls{
    background: #FFB800;
    border-radius: 10px;
    padding: 5px ;
    display: block;
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
}
